{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div class="search-container">
      <div class="content">
        <div class="container">
          <div class="row">
            <div class="col-md-12 col-sm-12">
            <p class="about-content">
            We estimate the value of the property in <strong>{{ predicted_value }} EUR</strong>.
            Thanks for using Amsterprice, we would appreciate some feedback to <strong>info@amsterprice.com</strong> .
            </p>
            </div>
          </div>
        </div>
      </div>
    </div>

{% endblock %}
