{% extends 'base.html' %}
{% load static %}

{% block content %}

      <div class="content">
        <div class="container">
            <br/>

            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="job-alerts-item">

                {% include 'submitted.html' %}

                <div class="row">
                  <div class="col-md-12">
                    <br/>
                    <p>
                    Thank you! We have your property value. Choose below how to continue.
                    </p>
                    <br/>
                  </div>
                  <div class="col-md-6 text-center">
                    <form method="POST" action="{% url 'charge' %}">
                      {% csrf_token %}
                      <input type="hidden" name="valuation_token" value="{{ valuation_token }}">
                      <script 
                        src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                        data-key="{{ stripe_key }}"
                        data-amount="300"
                        data-name="Amsterprice"
                        data-description="1 valuation report"
                        data-image="{% static "valuations/img/logo_128x128.png" %}"
                        data-locale="uk"
                        data-zip-code="true"
                        data-currency="eur">
                      </script>
                    </form>
                  </div>

                  <div class="col-md-6 text-center">
                    <form method="POST" action="{% url 'apply_coupon' %}" class="form-inline">
                      {% csrf_token %}

                      <input type="hidden" name="valuation_token" value="{{ valuation_token }}">

                      <span style="color: black;">
                        <input type="text" name="coupon_code" size="10" pattern="[A-Za-z0-9]{1,20}" required />
                      </span>

                      <button type="submit" class="stripe-button-el" style="visibility: visible;">
                        <span style="display: block; min-height: 30px;">
                          Apply coupon
                        </span>
                      </button>

                    </form>
                </div>

          </div>
        </div>
      </div>
    </div>
{% endblock %}
