{% extends 'base.html' %}
{% load static %}

{% block content %}
      <div class="search-container">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
                <h1>What's the value of this property?</h1><br>
                <h2>Get an instant online valuation of any property in Amsterdam</h2>
              <div class="content">
                {% include 'valuation_form.html' %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- end intro section -->
    </div>

      <div class="about section">
        <div class="container">
          <div class="row">
            <div class="col-md-6 col-sm-12">
              <div class="about-content">
              <img src="{% static "valuations/img/about/img1.jpg" %}" alt="">
            </div>
            </div>
            <div class="col-md-6 col-sm-12">
              <div class="about-content">
                <h2 class="medium-title"><a name="howitworks">How it works</a></h2>
                <p class="desc">Amsterprice is a tool to estimate market value for any property in Amsterdam. You can get an accurate price estimation right after submitting a simple form.</p>

                <p>It doesn't just take postcode and squared meters but also more relevant features which are specific to Amsterdam's houses. It does not calculate asking price but what we think a buyer would be willing to pay for it.</p>

                <p>It is powered by a neural network fed by multiple sources of information, both from the market and official information. Daily updated with fresh data.</p>

                <p>Worth to point out, it ignores the specific conditions of the appartments, such as if it lacks floors or, on the other hand if it has just been renovated to luxury standards. Your mileage might vary. However, it gives a very accurate estimate for the average appartment and we let you put the particulars on top of that.</p>

                <p>Try it up, it's free of charge for now!</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Main container End -->
{% endblock %}
