{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div class="search-container">
      <div class="content">
        <div class="container">
          <div class="row">
            <div class="col-md-12 col-sm-12">
            <p class="about-content">
            Sorry, there was a problem while trying to show your valuation. {{ error }}
            <br><br>
            You can always get in touch with us via info@amsterprice.com 
            </p>
            </div>
          </div>
        </div>
      </div>
    </div>

{% endblock %}
