{% extends 'base.html' %}
{% load static %}

{% block content %}

      <div class="content">
        <div class="container">
            <br/>

            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="job-alerts-item">
                
                {% include 'submitted.html' %}

                <div class="row">
                  <div class="col-md-12">
                    <br/>
                    <p>
                    We estimate the value of the property in <font color="#ff4f57"><strong>{{ predicted_value }} EUR</strong></font>.
                    Thanks for using Amsterprice, we would appreciate some feedback to <strong>info@amsterprice.com</strong> .
                    </p>
                    <br/>
                  </div>
                </div>
              </div>
              <br/>
              <br/>
              <div class="job-alerts-item">
                <h4 class="alerts-title">Check another property</h4>

                {% include 'valuation_form.html' %}
              </div>

        </div>
      </div>
    </div>
{% endblock %}
