                <h4 class="alerts-title">Property Information</h4>
                  {% if error_charge %}
                  <div class="row">
                    <div class="col-md-12 col-sm-12">{{ error_charge }}<br/></div>
                  </div>
                  {% endif %}
                <div class="alerts-list">
                  <div class="row">
                    <div class="col-md-2">
                      <p>Postcode</p>
                    </div>
                    <div class="col-md-2">
                      <p>Floor</p>
                    </div>
                    <div class="col-md-2">
                      <p>Indoor area</p>
                    </div>
                    <div class="col-md-2">
                      <p>Garden</p>
                    </div>
                    <div class="col-md-2">
                      <p>Annual Lease</p>
                    </div>
                    <div class="col-md-2">
                      <p>Energy Label</p>
                    </div>
                  </div>
                </div>
                <div class="alerts-content">
                  <div class="row">
                    <div class="col-md-2">
                      <span class="location"><i class="ti-location-pin"></i> </span>{{ submitted.postcode }}
                    </div>
                    <div class="col-md-2">
                      {{ submitted.floor }}
                    </div>
                    <div class="col-md-2">
                      {{ submitted.indoor_area }}
                    </div>
                    <div class="col-md-2">
                      {{ submitted.garden_area }}
                    </div>
                    <div class="col-md-2">
                      {{ submitted.annual_lease }}
                    </div>
                    <div class="col-md-2">
                      {{ submitted.energielabel }}
                    </div>
                  </div>
                </div>
