                <form method="POST" action="{% url 'show_gratis' %}">
                  {% if error_predictor %}
                  <div class="row">
                    <div class="col-md-12 col-sm-12">{{ error_predictor }}<br/></div>
                  </div>
                  {% endif %}
                  <div class="row">
                    <div class="col-md-3 col-sm-6">
                      <div class="form-group">
                        Postcode
                        <input class="form-control" type="text" name="postcode" pattern="\s*\d{4}\s*[A-Za-z]{2}\s*" maxlength="10" required />
                        {{ error_html_list.postcode }}
                      </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                      <div class="form-group">
                        Indoor area in mt2
                        <input class="form-control" type="number" min="30" max="1000" name="indoor_area" required />
                        {{ error_html_list.indoor_area }}
                      </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                      <div class="form-group">
                        Outdoor area in mt2 (if applies)
                        <input class="form-control" type="number" min="0" max="1000" name="garden_area" />
                        {{ error_html_list.garden_area }}
                      </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                      <div class="form-group">
                        <br>
                        <div class="checkbox">
                          <label for="lift" class="rememberme">
                          <input name="lift" id="lift" type="checkbox"> Has lift</label>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                      <div class="col-md-12 col-sm-12">&nbsp;</div>
                  </div>
                  <div class="row">
                    <div class="col-md-3 col-sm-6">
                      <div class="form-group">
                        Annual lease amount (if applies)
                        <input class="form-control" type="number" min="0" max="10000" name="annual_lease_amount">
                        {{ error_html_list.annual_lease_amount }}
                      </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                      <div class="search-category-container">
                        Floor
                        <label class="styled-select">
                          <select class="dropdown-product selectpicker" required name="floor_number">
                            <option value="">Select</option>
                            <option value="0">Ground floor</option>
                            <option value="1">First floor</option>
                            <option value="2">Second floor</option>
                            <option value="3">Third floor</option>
                            <option value="4">Fourth floor</option>
                            <option value="5">Fifth floor</option>
                            <option value="6">&gt; Fifth</option>
                          </select>
                        </label>
                        {{ error_html_list.floor_number }}
                      </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                      <div class="search-category-container">
                        Energy label
                        <label class="styled-select">
                          <select class="dropdown-product selectpicker" required name="energielabel">
                            <option value="">Select</option>
                            <option value="A">Energy label A</option>
                            <option value="B">Energy label B</option>
                            <option value="C">Energy label C</option>
                            <option value="D">Energy label D</option>
                            <option value="E">Energy label E</option>
                            <option value="F">Energy label F</option>
                            <option value="G">Energy label G</option>
                          </select>
                        </label>
                        {{ error_html_list.energielabel }}
                      </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                      <br>
                      <button type="submit" class="btn btn-search-icon"><i class="ti-search"></i></button>
                    </div>
                  </div>
                </form>

